variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build
  - test
  - package
  - deploy

.Always_Build:
  stage: build
  when: always
  timeout: 10m

.Always_Test:
  stage: test
  when: always
  timeout: 10m

TF_Tooling::Web::build:
  extends: .Always_Build
  tags:
    - unity
    - win10
  script:
    # Get the TF Tooling for web version
    - set -Name TF_TOOLING_API_VERSION -Value "$((Select-String -Path ".\src\TouchFreeToolingTypes.ts" "public static readonly ApiVersion. string = '(.*)';" | Select-Object * -First 1).Matches.Groups[1].Value)"
    - set -Name TF_TFW_VERSION -Value "$((Select-String -Path ".\package.json" "  .version.. .(.*).," | Select-Object * -First 1).Matches.Groups[1].Value)"

    # Update Version.txt with latest information before packaging
    - python ./Scripts/UpdateVersionFile.py --path ${CI_PROJECT_DIR}/Version.txt --swVer $TF_TFW_VERSION --apiVer $TF_TOOLING_API_VERSION --ref ${CI_COMMIT_SHORT_SHA} --branchName "$CI_COMMIT_REF_NAME"
    - Get-Content ${CI_PROJECT_DIR}/Version.txt

    # Build Tooling
    - cd ${CI_PROJECT_DIR}
    - npm i
    - npm run build:bundle
    # Clean last build
    - cd ${CI_PROJECT_DIR}
    - if (Test-Path -Path "./Tooling_Release") {
      Remove-Item -LiteralPath ./Tooling_Release -Force -Recurse
      Remove-Item -LiteralPath ./Tooling_Release -Force -Recurse
      }
    # Package Tooling
    - mkdir ./Tooling_Release
    - cp ${CI_PROJECT_DIR}/Version.txt ./Tooling_Release
    - cp -R ${CI_PROJECT_DIR}/dist ./Tooling_Release
    - cp -R ${CI_PROJECT_DIR}/Plugins ./Tooling_Release
    - cp -R ${CI_PROJECT_DIR}/quick-start ./Tooling_Release
  artifacts:
    name: 'Tooling_for_Web_Build_${CI_COMMIT_SHORT_SHA}'
    paths:
      - ./Tooling_Release/*
    expire_in: 2 weeks
    when: always

TF_Tooling::Docs::build:
  extends: .Always_Build
  dependencies:
    - TF_Tooling::Web::build
  tags:
    - docker-windows
  image: registry.ultrahaptics.com/ooh/infrastructure/windows-touchfree-toolchain:latest
  script:
    # Run unit tests
    - cd ${CI_PROJECT_DIR}
    - npm i
    - npm run build:docs | tee docs_output.txt
    - if ((cat docs_output.txt.txt | Select-String "You have changed the public API signature for this project.").Count -gt 0) { exit 1 }
  artifacts:
    name: 'TouchFree_Tooling_Documentation'
    paths:
      - ./docs/markdown
    expire_in: 2 weeks
    when: always

TF_Tooling::Web::test:
  extends: .Always_Test
  dependencies:
    - TF_Tooling::Web::build
  tags:
    - docker-windows
  image: registry.ultrahaptics.com/ooh/infrastructure/windows-touchfree-toolchain:latest
  script:
    # Run unit tests
    - cd ${CI_PROJECT_DIR}
    - npm i
    - npm run test
    - npm run test:coverage
  artifacts:
    when: always
    name: 'TestResults'
    paths:
      - ${CI_PROJECT_DIR}/junit.xml
      - ${CI_PROJECT_DIR}/coverage/
    reports:
      junit: ${CI_PROJECT_DIR}/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: ${CI_PROJECT_DIR}/coverage/cobertura-coverage.xml
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'

pages:
  stage: deploy
  dependencies:
    - TF_Tooling::Web::test
  script:
    - mkdir .public
    - cp ${CI_PROJECT_DIR}/coverage/* .public
    - mv .public public
  artifacts:
    paths:
      - public
  only:
    - develop

TF_Tooling::Web::package:
  stage: package
  image: alpine:3.13
  dependencies:
    - TF_Tooling::Web::build
    - TF_Tooling::Docs::build
  needs: ['TF_Tooling::Web::build', 'TF_Tooling::Docs::build']
  script:
    - mkdir ./Tooling_Package/
    - cp -R ./Tooling_Release/* ./Tooling_Package/
    - cp -R ./docs/markdown ./Tooling_Package/Documentation/
  artifacts:
    name: 'TouchFree_Tooling_for_Web_${TF_TFW_VERSION}_${CI_COMMIT_SHORT_SHA}'
    paths:
      - ./Tooling_Package/*
    expire_in: 2 weeks
    when: always
  tags:
    - docker
