# ======= #
# Node.js #
# ======= #

/node_modules/*
**/node_modules/*
**/node_modules/**
/build

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
.vscode/
**/.vsconfig

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon\?
ehthumbs.db
Thumbs.db

# ================ #
# Transpiled files #
# ================ #

./src/*.js
./src/**.js
./test/*.js
./test/**/*.js
dist
bundle
etc

./Plugins/**/Snapping_Plugin.js

tsconfig.tsbuildinfo

*.xml
coverage/
temp/
docs/